@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input {
  @apply border-[1px] border-grey py-[6px] px-[4px] rounded-[3px] outline-none focus:border-lightOrange ;
}

.table-cell {
  @apply border-[1px] border-slate-400 px-[20px] py-[3px];
}

.sidebar-link {
  @apply flex flex-row items-center justify-between gap-[5px]  hover:bg-white px-[20px]  py-[12px] rounded-[8px] text-white hover:text-dark text-[16px] font-[400]
}